<div>
    <p><strong>Diploma spaniolă de nivel A2 acreditează capacitatea utilizatorului să:</strong></p>
    <ul>
        <li>înțeleagă și să folosească expresii cotidiene frecvent utilizate, aproape întotdeauna legate de domenii de experiență care sunt deosebit de relevante datorită imediatei lor (informații de bază despre sine și despre familia sa, cumpărături și locuri de interes, ocupații etc. ); </li>
        <li>realizează schimburi comunicative simple și directe pe aspecte cunoscute sau obișnuite și să descrie în termeni simpli aspecte din trecutul lor și din mediul lor;</li>
        <li>pentru a satisface probleme legate de nevoile dumneavoastră imediate.</li>
    </ul>
</div>
