<div>
    <p><strong>Diploma spaniolă de nivel B1 acreditează capacitatea utilizatorului de limbă de a:</strong></p>
    <ul>
        <li>să înțeleagă punctele principale ale textelor orale și scrise în varietăți standardizate ale limbii și care nu sunt excesiv de localizate, atâta timp cât tratează subiecte familiare, indiferent dacă sunt legate de muncă, studiu sau viața de zi cu zi;</li>
        <li>functioneaza in majoritatea situatiilor si contextelor in care se incadreaza aceste domenii de utilizare;</li>
        <li>să producă texte simple și coerente pe teme familiare sau care sunt de interes personal, cum ar fi descrierea experiențelor, evenimentelor, dorințelor, planurilor și aspirațiilor sau exprimarea opiniilor.</li>
    </ul>
</div>
