<div>
    <p><strong>Diploma spaniolă de nivel B2 acreditează capacitatea utilizatorului de limbă de a:</strong></p>
    <ul>
        <li>să înțeleagă elementele esențiale ale textelor complexe orale și scrise, chiar dacă tratează subiecte abstracte, sunt prezentate în diverse varietăți de spaniolă sau au un caracter tehnic, mai ales dacă tratează domenii de cunoștințe de specialitate la care ai avut acces;</li>
        <li>interacționează cu toate tipurile de vorbitori cu un grad suficient de fluență și naturalețe, astfel încât comunicarea să nu necesite eforturi din partea vreunui interlocutor;</li>
        <li>produce texte clare și detaliate pe diverse teme, inclusiv cele care implică analiză dialectică, dezbatere sau apărarea unui punct de vedere.</li>
    </ul>
</div>
