<div>
    <p><strong>Diploma spaniolă de nivel C1 acreditează capacitatea utilizatorului de limbă de a:</strong></p>
    <ul>
        <li>funcționează cu ușurință atunci când procesează o mare varietate de texte orale și scrise de o anumită lungime în orice variantă a limbii, recunoscând chiar și semnificații, atitudini sau intenții implicite în acestea;</li>
        <li>se exprimă fluent, spontan și fără efort aparent;</li>
        <li>găsiți întotdeauna expresia adecvată situației și contextului, fie că este încadrată în domeniul social, profesional sau academic;</li>
        <li>să folosească limbajul în mod flexibil și eficient, demonstrând utilizarea corectă în pregătirea textelor complexe și în utilizarea mecanismelor de organizare și coeziune care permit articularea acestora.</li>
    </ul>
</div>
