<div>
    <p><strong>Diploma spaniolă de nivel C2 acreditează capacitatea utilizatorului de limbă de a:</strong></p>
    <ul>
        <li>funcţionează în orice situaţie în care este necesar să se înţeleagă practic tot ceea ce se aude sau se citeşte, indiferent de lungimea textelor, de complexitatea sau gradul de abstractizare a acestora, de gradul de familiarizare cu subiectele pe care le tratează, de varietatea limbii. folosesc sau necesitatea de a face inferențe sau alte operațiuni pentru a le cunoaște conținutul;</li>
        <li>se exprimă spontan cu o mare fluență și o enormă precizie semantică și gramaticală, ceea ce permite diferențierea nuanțelor de sens chiar și în medii academice și de lucru cu un grad ridicat de specializare și complexitate.</li>
        
    </ul>
</div>
